@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<Employee>

<div class="recent-book-sec">
    <div class="row">
        @foreach (var e in Model)
        {
            <div class="col-md-3" style="border:double">
                <div class="item">

                    <h3><a href="#">@e.Name</a></h3>
                    <p>
                        @e.Gender <br />
                    @e.Birthday <br />
                    @e.Address <br />
                    @e.PhoneNumber
                </p>
            </div>
        </div>
    }
</div>
</div>
      